<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MathServicebehavior">
					<serviceDebug httpHelpPageEnabled="false"/>
					<serviceMetadata httpGetEnabled="false"/>
					<serviceTimeouts transactionTimeout="00:10:00"/>
					<serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="httpbinding" />
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="SOA.WCF.Service.MathService" behaviorConfiguration="MathServicebehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:11113/MathService"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="httpbinding" contract="SOA.WCF.Service.IMathService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
</configuration>