<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64698/src/MyWCF.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyWCF" contract="MyWebWCF.IMyWCF"
                name="BasicHttpBinding_IMyWCF" />
        </client>
    </system.serviceModel>
</configuration>