@model ProAspNetMvc5_ControllerAndAction.Models.Result
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Result</title>
</head>
<body>
    <div>Controller:@Model.ControllerName</div>
    <div>Controller:@Model.ActionName</div>
</body>
</html>

